* {
    font-family: "Google Sans", sans-serif;
}

i {
    margin-right: 10px; 
    font-size: 20px;
}
ul {
    margin-top: 20px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    list-style: none;
}
li a{
    align-items: center;
    margin-bottom: 2%;
    padding: 10px; 
    display: flex; 
    text-decoration: none;
    color: black;
}
li:hover {
    background-color: #5754547f;
}
