table {
    width: 50%;
    border-collapse: collapse;
    margin: 20px auto;   
}

img {
    width: 50px;
    height: 50px;
}

.rojo{
    background-color: #f41919;
    color: white;
}

ul {
    color: #f41919;
}

h1 {
    text-align: center;
}

#fila td{
    font-weight: bold;
    font-size: 25px;
    background-color: gray;
    color: black;
    padding: 5px;
}

#cinco {
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: yellow;
}

th, td {
    border: 1px solid #000000;
    text-align: center;
    padding: 8px;
}

th[colspan="3"], th[colspan="2"], td[colspan="2"] {
    background-color: blue;
}
